<div class="box box-primary">
    <div class="box-header">
        <h4 class="box-title">Facebook Login</h4>
        <p id="fb-status">Login with Facebook and choose from your available Facebook entities.</p>
    </div>
    <div class="box-body">
        <div class="sonata-ba-collapsed-fields">
            <div class="form-group">
                <fb:login-button scope="public_profile,email,manage_pages,publish_pages,user_videos,user_events,user_managed_groups,publish_actions" onlogin="checkLoginState();" autologoutlink="true"></fb:login-button>
            </div>
            <div class="form-group">
                <select id="livebroadcast-fb-entity-select">
                    <option>Select your Facebook entity</option>
                </select>
            </div>
        </div>
    </div>
</div>

{% block facebook_js %}
    <script type="text/javascript">
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            $('#livebroadcast-fb-entity-select').html('<option>Select your Facebook entity</option>');

            if (response.status === 'connected') {
                document.getElementById('fb-status').innerHTML = 'Login with Facebook and choose from your available Facebook entities.';
                // Logged into your app and Facebook.
                getAccountsForLoggedInUser();
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('fb-status').innerHTML = 'Please request Facebook access from your Live Stream app maintainer.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('fb-status').innerHTML = 'Please log into Facebook.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{{ facebookAppId }}',
                cookie     : true,  // enable cookies to allow the server to access
                                    // the session
                xfbml      : true,  // parse social plugins on this page
                version    : 'v2.5' // use graph api version 2.5
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

            $('#livebroadcast-fb-entity-select').on('change', function(){
                var selected = $(this).find('option:selected');

                if (selected.val().length > 0) {
                    $('input.generic-channel-name').val(selected.text());
                    $('input.fb-access-token').val(selected.attr('data-access-token'));
                    $('input.fb-entity-id').val(selected.val());
                }
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function getAccountsForLoggedInUser() {
            var channel, option;

            /**
             * Get URL variables
             */
            function getUrlVars(url) {
                var vars = {}, hash;
                var hashes = url.slice(url.indexOf('?') + 1).split('&');
                for(var i = 0; i < hashes.length; i++)
                {
                    hash = hashes[i].split('=');
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }

            /**
             * Make user selectable
             */
            function makeMeSelectable(meResponse) {
                if (meResponse.id) {
                    option = $('<option>');
                    option.text('Personal Facebook account: ' + meResponse.name);
                    option.attr('value', meResponse.id);

                    /* Get a long lived access token for the user access token */
                    $.ajax({
                        url: '{{ admin.generateUrl('longLivedAccessToken') }}',
                        data: {
                            'userAccessToken': FB.getAccessToken()
                        },
                        success: function(data) {
                            option.attr('data-access-token', data.accessToken);
                            $('#livebroadcast-fb-entity-select').append(option);

                            FB.broadcast = { accessToken: data.accessToken };

                            /* Retrieve page access tokens with the long lived user access token */
                            FB.api('/me/accounts', {access_token: data.accessToken }, makeAccountSelectable);
                            FB.api('/me/admined_groups', makeGroupsSelectable);
                            FB.api('/me/events', makeEventsSelectable);
                        }
                    });
                }
            }

            /**
             * Loop streamable data and create option values
             */
            function loopStreams(response, accessToken, typeLabel) {
                var useStaticToken = accessToken ? true : false,
                    useStaticLabel = typeLabel ? true: false;

                for (var i=0, l=response.data.length; i<l; i++) {
                    channel = response.data[i];
                    option = $('<option>');
                    option.text((useStaticLabel ? typeLabel: channel.category) + ': ' + channel.name);
                    option.attr('value', channel.id);
                    option.attr('data-access-token', (useStaticToken ? accessToken : channel.access_token));

                    $('#livebroadcast-fb-entity-select').append(option);
                }
            }

            /**
             * Handle a page with data
             */
            function makeAccountSelectable(response) {
                loopStreams(response, null, null);

                if (response.paging && response.paging.next) {
                    var params = getUrlVars(response.paging.next);
                    FB.api('/me/accounts', params, makeAccountSelectable)
                }
            }

            /**
             * Make groups selectable
             * @param response
             */
            function makeGroupsSelectable(response) {
                loopStreams(response, FB.broadcast.accessToken, 'Group');

                if (response.paging && response.paging.next) {
                    var params = getUrlVars(response.paging.next);
                    FB.api('/me/admined_groups', params, makeGroupsSelectable)
                }
            }

            /**
             * Make events selectable
             * @param response
             */
            function makeEventsSelectable(response) {
                loopStreams(response, FB.broadcast.accessToken, 'Event');

                if (response.paging && response.paging.next) {
                    var params = getUrlVars(response.paging.next);
                    FB.api('/me/events', params, makeEventsSelectable)
                }
            }

            FB.api('/me', makeMeSelectable);
        }
    </script>
{% endblock %}
