{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block sonata_pre_fieldsets %}
    {{ parent() }}
    <div class="col-md-12">
        <div class="tab-content">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Facebook Login</h4>
                    <p id="fb-status">Login with Facebook and choose from your available Facebook entities.</p>
                </div>
                <div class="box-body">
                    <div class="sonata-ba-collapsed-fields">
                        <div class="form-group">
                            <fb:login-button scope="public_profile,email,manage_pages,publish_pages" onlogin="checkLoginState();" autologoutlink="true"></fb:login-button>
                        </div>
                        <div class="form-group">
                            <select id="livebroadcast-fb-entity-select">
                                <option>Select your Facebook entity</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% block facebook_js %}
        <script type="text/javascript">
            // This is called with the results from from FB.getLoginStatus().
            function statusChangeCallback(response) {
                // The response object is returned with a status field that lets the
                // app know the current login status of the person.
                // Full docs on the response object can be found in the documentation
                // for FB.getLoginStatus().
                $('#livebroadcast-fb-entity-select').html('<option>Select your Facebook entity</option>');

                if (response.status === 'connected') {
                    document.getElementById('fb-status').innerHTML = 'Login with Facebook and choose from your available Facebook entities.';
                    // Logged into your app and Facebook.
                    getAccountsForLoggedInUser();
                } else if (response.status === 'not_authorized') {
                    // The person is logged into Facebook, but not your app.
                    document.getElementById('fb-status').innerHTML = 'Please request Facebook access from your Live Stream app maintainer.';
                } else {
                    // The person is not logged into Facebook, so we're not sure if
                    // they are logged into this app or not.
                    document.getElementById('fb-status').innerHTML = 'Please log into Facebook.';
                }
            }

            // This function is called when someone finishes with the Login
            // Button.  See the onlogin handler attached to it in the sample
            // code below.
            function checkLoginState() {
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });
            }

            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '{{ live_broadcast_facebook_app_id }}',
                    cookie     : true,  // enable cookies to allow the server to access
                                        // the session
                    xfbml      : true,  // parse social plugins on this page
                    version    : 'v2.5' // use graph api version 2.5
                });

                // Now that we've initialized the JavaScript SDK, we call
                // FB.getLoginStatus().  This function gets the state of the
                // person visiting this page and can return one of three states to
                // the callback you provide.  They can be:
                //
                // 1. Logged into your app ('connected')
                // 2. Logged into Facebook, but not your app ('not_authorized')
                // 3. Not logged into Facebook and can't tell if they are logged into
                //    your app or not.
                //
                // These three cases are handled in the callback function.

                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });

                $('#livebroadcast-fb-entity-select').on('change', function(){
                    var selected = $(this).find('option:selected');

                    if (selected.val().length > 0) {
                        $('input.generic-channel-name').val(selected.text());
                        $('input.fb-access-token').val(selected.attr('data-access-token'));
                        $('input.fb-entity-id').val(selected.val());
                    }
                });
            };

            // Load the SDK asynchronously
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "http://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            // Here we run a very simple test of the Graph API after login is
            // successful.  See statusChangeCallback() for when this call is made.
            function getAccountsForLoggedInUser() {
                var channel, option;

                function makeMeSelectable(meResponse) {
                    if (meResponse.id) {
                        FB.getLoginStatus(function (response) {
                            if (response.authResponse) {
                                option = $('<option>');
                                option.text('Personal Facebook account: ' + meResponse.name);
                                option.attr('value', meResponse.id);
                                option.attr('data-access-token', response.authResponse.accessToken);

                                $('#livebroadcast-fb-entity-select').append(option);
                            }
                        });
                    }
                }

                /*
                 * Handle a page with data
                 */
                function makeAccountSelectable(response) {
                    for (var i=0, l=response.data.length; i<l; i++) {
                        channel = response.data[i];
                        option = $('<option>');
                        option.text(channel.category + ': ' + channel.name);
                        option.attr('value', channel.id);
                        option.attr('data-access-token', channel.access_token);

                        $('#livebroadcast-fb-entity-select').append(option);
                    }

                    if (response.paging && response.paging.next) {
                        var params = $.deparam.querystring(response.paging.next);
                        FB.api('/me/accounts', params, makeAccountSelectable)
                    }
                }

                function makeGroupsSelectable(response) {
                    // @todo stubbed
                    console.log(response);
                }


                function makeEventsSelectable(response) {
                    // @todo stubbed
                    console.log(response);
                }

                FB.api('/me', makeMeSelectable);
                FB.api('/me/accounts', makeAccountSelectable);
                FB.api('/me/admined_groups', makeGroupsSelectable);
                FB.api('/me/events', makeEventsSelectable);
            }
        </script>
    {% endblock %}
{% endblock %}
