name: Static analysis of live-broadcast-bundle

on:
  schedule:
    - cron: '0 7 * * 1'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  XDEBUG_MODE: coverage

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          extensions: zip

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run PHP CS Fixer
        run: vendor/bin/php-cs-fixer fix src --dry-run --diff

      - name: Run PHPUnit
        run: ./vendor/bin/phpunit --coverage-text --colors
