name: Update monday

on:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  update-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          extensions: zip

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Update dependencies
        run: composer update --prefer-dist --no-progress --no-suggest

      - name: Find and report outdated dependencies
        run: composer outdated --strict --direct

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: composer.lock